In [3]:
import pandas as pd

#x = pd.read_csv('data2/산업분류별 월별 전력사용량_20241011.csv')
#x

In [4]:
data_2017_1_2017_6 = pd.read_csv('data2/산업분류별 월별 전력사용량_2017_1_2017_6.csv', header=3)
data_2017_7_2017_12 = pd.read_csv('data2/산업분류별 월별 전력사용량_2017_7_2017_12.csv', header=3)
data_2018_1_2019_6 = pd.read_csv('data2/산업분류별 월별 전력사용량_2018_1_2018_6.csv', header=3)
data_2018_7_2019_12 = pd.read_csv('data2/산업분류별 월별 전력사용량_2018_7_2018_12.csv', encoding='cp949', header=3)
data_2019_1_2019_6 = pd.read_csv('data2/산업분류별 월별 전력사용량_2019_1_2019_6.csv', encoding='cp949', header=3)
data_2019_7_2019_12 = pd.read_csv('data2/산업분류별 월별 전력사용량_2019_7_2019_12.csv', encoding='cp949', header=3)
data_2020_1_2020_6 = pd.read_csv('data2/산업분류별 월별 전력사용량_2020_1_2020_6.csv', header=3)
data_2020_7_2020_12 = pd.read_csv('data2/산업분류별 월별 전력사용량_2020_7_2020_12.csv', header=3)
data_2021_1_2021_6 = pd.read_csv('data2/산업분류별 월별 전력사용량_2021_1_2021_6.csv', header=3)
data_2021_7_2021_12 = pd.read_csv('data2/산업분류별 월별 전력사용량_2021_07_2021_12.csv', header=3)
data_2022_1_2022_6 = pd.read_csv('data2/산업분류별 월별 전력사용량_2022_01_2022_06.csv', header=3)
data_2022_7_2022_12 = pd.read_csv('data2/산업분류별 월별 전력사용량_2022_07_2022_12.csv', header=3)

In [5]:
data_2017_1_2017_6

,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
0,201701,전체(시도),전체(시 / 군 / 구),"가구내고용,미분류자가소비생산",528,"571,710","86,427,025",151.2
1,201701,전체(시도),전체(시 / 군 / 구),건설업,"70,529","367,547,850","49,248,531,866",134.0
2,201701,전체(시도),전체(시 / 군 / 구),"공공행정, 국방 및 사회보장 행정","34,768","535,494,134","69,556,707,643",129.9
3,201701,전체(시도),전체(시 / 군 / 구),광업,"4,614","154,468,194","21,722,675,394",140.6
4,201701,전체(시도),전체(시 / 군 / 구),교육 서비스업,"69,866","891,054,335","90,642,321,916",101.7
...,...,...,...,...,...,...,...,...
2344,201706,충청북도,전체,제조업,"9,933","969,065,181","114,874,251,953",118.5
2345,201706,충청북도,전체,"출판영상,방송통신정보서비스업","7,972","15,571,824","1,734,607,210",111.4
2346,201706,충청북도,전체,하수폐기처리원료재생환경복원,"1,788","19,391,566","2,270,141,437",117.1
2347,201706,충청북도,전체,"협회단체,수리기타개인서비스업","9,215","12,441,193","1,940,414,465",156
2348,201706,충청북도,전체,합계,"248,936","1,350,098,172","159,593,307,437",118.2

In [6]:
data_2019_1_2019_6

,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
0,201901,전체(시도),전체(시 / 군 / 구),가구내고용활동및달리분류되지않은자가소비생산활동,484,"530,866","78,262,080",147.4
1,201901,전체(시도),전체(시 / 군 / 구),건설업,"75,778","390,486,507","51,913,457,724",132.9
2,201901,전체(시도),전체(시 / 군 / 구),"공공 행정, 국방 및 사회보장 행정","39,053","602,519,463","77,474,124,284",128.6
3,201901,전체(시도),전체(시 / 군 / 구),광업,"3,633","133,185,444","18,422,367,975",138.3
4,201901,전체(시도),전체(시 / 군 / 구),교육 서비스업,"69,826","1,043,248,273","106,248,045,013",101.8
...,...,...,...,...,...,...,...,...
2362,201906,충청북도,전체,"협회 및 단체, 수리 및 기타 개인 서비스업","9,068","12,556,458","1,971,093,854",157
2363,201906,충청북도,전체,합계,"274,187","1,854,621,325","212,455,430,830",114.6
2364,201906,황해북도,전체,부동산업,9,"87,695","22,322,102",254.5
2365,201906,황해북도,전체,"수도, 하수 및 폐기물 처리, 원료 재생업",5호미만제거,-,-,-
2366,201906,황해북도,전체,합계,9,"87,695","22,322,102",254.5

In [7]:
data_2022_1_2022_6

,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
0,202201,전체(시도),전체(시 / 군 / 구),"가구내고용,미분류자가소비생산",420,"437,002","67,479,235",154.4
1,202201,전체(시도),전체(시 / 군 / 구),건설업,"85,971","463,385,009","61,401,994,546",132.5
2,202201,전체(시도),전체(시 / 군 / 구),"공공행정, 국방 및 사회보장 행정","47,988","655,571,192","85,092,930,721",129.8
3,202201,전체(시도),전체(시 / 군 / 구),광업,"3,789","160,092,926","21,624,889,576",135.1
4,202201,전체(시도),전체(시 / 군 / 구),교육 서비스업,"72,253","1,097,093,451","110,633,414,274",100.8
...,...,...,...,...,...,...,...,...
2355,202206,충청북도,전체,제조업,"13,312","1,564,234,299","190,283,667,376",121.6
2356,202206,충청북도,전체,"출판영상,방송통신정보서비스업","10,263","19,725,396","2,210,756,148",112.1
2357,202206,충청북도,전체,하수폐기처리원료재생환경복원,"1,997","25,569,425","3,170,365,737",124
2358,202206,충청북도,전체,"협회단체,수리기타개인서비스업","9,066","12,119,153","2,033,778,453",167.8
2359,202206,충청북도,전체,합계,"299,716","2,065,020,343","252,886,934,862",122.5

In [8]:
data_2020_7_2020_12

,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
0,202007,전체(시도),전체(시 / 군 / 구),가구내고용활동및달리분류되지않은자가소비생산활동,450,"376,237","67,128,907",178.4
1,202007,전체(시도),전체(시 / 군 / 구),건설업,"79,443","277,873,988","44,118,796,844",158.8
2,202007,전체(시도),전체(시 / 군 / 구),"공공 행정, 국방 및 사회보장 행정","43,948","481,442,350","71,786,372,770",149.1
3,202007,전체(시도),전체(시 / 군 / 구),광업,"3,556","123,605,876","18,437,448,833",149.2
4,202007,전체(시도),전체(시 / 군 / 구),교육 서비스업,"69,221","658,662,826","79,353,936,383",120.5
...,...,...,...,...,...,...,...,...
2362,202012,충청북도,전체,"협회 및 단체, 수리 및 기타 개인 서비스업","9,073","18,024,993","2,622,260,568",145.5
2363,202012,충청북도,전체,합계,"286,311","2,061,798,183","237,303,265,796",115.1
2364,202012,황해북도,전체,부동산업,9,0,0,0
2365,202012,황해북도,전체,"수도, 하수 및 폐기물 처리, 원료 재생업",5호미만제거,-,-,-
2366,202012,황해북도,전체,합계,9,0,0,�

In [9]:
data = pd.concat([data_2017_1_2017_6, data_2017_7_2017_12, data_2018_1_2019_6, data_2018_7_2019_12, data_2019_1_2019_6, data_2019_7_2019_12, data_2020_1_2020_6, data_2020_7_2020_12, data_2021_1_2021_6, data_2021_7_2021_12, data_2022_1_2022_6, data_2022_7_2022_12])
data

,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
0,201701,전체(시도),전체(시 / 군 / 구),"가구내고용,미분류자가소비생산",528,"571,710","86,427,025",151.2
1,201701,전체(시도),전체(시 / 군 / 구),건설업,"70,529","367,547,850","49,248,531,866",134.0
2,201701,전체(시도),전체(시 / 군 / 구),"공공행정, 국방 및 사회보장 행정","34,768","535,494,134","69,556,707,643",129.9
3,201701,전체(시도),전체(시 / 군 / 구),광업,"4,614","154,468,194","21,722,675,394",140.6
4,201701,전체(시도),전체(시 / 군 / 구),교육 서비스업,"69,866","891,054,335","90,642,321,916",101.7
...,...,...,...,...,...,...,...,...
2340,202212,충청북도,전체,제조업,"13,495","1,624,994,320","230,367,018,601",141.8
2341,202212,충청북도,전체,"출판영상,방송통신정보서비스업","10,528","18,489,918","2,568,906,764",138.9
2342,202212,충청북도,전체,하수폐기처리원료재생환경복원,"2,014","27,704,884","4,139,395,606",149.4
2343,202212,충청북도,전체,"협회단체,수리기타개인서비스업","9,077","19,703,984","3,224,255,842",163.6
2344,202212,충청북도,전체,합계,"305,476","2,220,188,169","314,635,554,692",141.7

In [10]:
data.to_csv('data2/산업분류별 월별 전력사용량_2017_2022.csv', index = False)
x = pd.read_csv('data2/산업분류별 월별 전력사용량_2017_2022.csv')
x

,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
0,201701,전체(시도),전체(시 / 군 / 구),"가구내고용,미분류자가소비생산",528,"571,710","86,427,025",151.2
1,201701,전체(시도),전체(시 / 군 / 구),건설업,"70,529","367,547,850","49,248,531,866",134.0
2,201701,전체(시도),전체(시 / 군 / 구),"공공행정, 국방 및 사회보장 행정","34,768","535,494,134","69,556,707,643",129.9
3,201701,전체(시도),전체(시 / 군 / 구),광업,"4,614","154,468,194","21,722,675,394",140.6
4,201701,전체(시도),전체(시 / 군 / 구),교육 서비스업,"69,866","891,054,335","90,642,321,916",101.7
...,...,...,...,...,...,...,...,...
28303,202212,충청북도,전체,제조업,"13,495","1,624,994,320","230,367,018,601",141.8
28304,202212,충청북도,전체,"출판영상,방송통신정보서비스업","10,528","18,489,918","2,568,906,764",138.9
28305,202212,충청북도,전체,하수폐기처리원료재생환경복원,"2,014","27,704,884","4,139,395,606",149.4
28306,202212,충청북도,전체,"협회단체,수리기타개인서비스업","9,077","19,703,984","3,224,255,842",163.6
28307,202212,충청북도,전체,합계,"305,476","2,220,188,169","314,635,554,692",141.7

In [11]:
data.groupby('시구').count()

           년월   시군구  계약구분  고객호수(호)  사용량(kWh)  전기요금(원)  평균판매단가(원/kWh)
시구
강원도      1584  1584  1584     1584      1584     1584           1584
경기도      1587  1587  1587     1587      1587     1587           1587
경상남도     1584  1584  1584     1584      1584     1584           1584
경상북도     1584  1584  1584     1584      1584     1584           1584
광주광역시    1584  1584  1584     1584      1584     1584           1584
대구광역시    1584  1584  1584     1584      1584     1584           1584
대전광역시    1562  1562  1562     1562      1562     1562           1562
미분류        10    10    10       10        10       10             10
부산광역시    1584  1584  1584     1584      1584     1584           1584
서울특별시    1584  1584  1584     1584      1584     1584           1584
세종특별자치시  1512  1512  1512     1512      1512     1512           1512
시구         12    12    12       12        12       12             12
울산광역시    1512  1512  1512     1512      1512     1512           1512
인천광역시    1584  1584  1584     1584      1584     1584           1584
전라남도     1512  1512  1512     1512      1512     1512           1512
전라북도     1584  1584  1584     1584      1584     1584           1584
전체(시도)   1515  1515  1515     1515      1515     1515           1515
제주특별자치도  1584  1584  1584     1584      1584     1584           1584
충청남도     1584  1584  1584     1584      1584     1584           1584
충청북도     1512  1512  1512     1512      1512     1512           1512
합계         12    12    12       12        12       12             12
황해북도      126   126   126      126       126      126            126

In [43]:
import pandas as pd
data2_2017_2022 = pd.read_csv('data/발전량_지역별.csv', encoding='cp949')
data2_2017_2022

,연도,서울,부산,대구,인천,광주,대전,울산,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주
0,2022,4.336754e+06,4.657933e+07,2.468916e+06,5.428345e+07,769032.9470,295032.6910,3.364133e+07,3.278703e+06,8.578016e+07,3.387653e+07,2763199.957,1.078128e+08,1.499092e+07,5.938354e+07,8.984390e+07,4.948159e+07,4815152.918
1,2021,5.343889e+06,4.035395e+07,2.811757e+06,6.050626e+07,644018.3820,182180.3610,3.150358e+07,3.776644e+06,8.223265e+07,3.062279e+07,2204815.677,1.112285e+08,1.432243e+07,6.184102e+07,8.138167e+07,4.388539e+07,3967926.374
2,2020,5.122176e+06,4.064738e+07,2.568644e+06,5.713563e+07,609551.0000,167834.0000,2.980867e+07,3.552567e+06,7.251266e+07,2.787505e+07,2221149.000,1.141039e+08,1.259953e+07,5.821711e+07,8.586558e+07,3.533287e+07,3821827.000
3,2019,1.846891e+06,3.752790e+07,2.877896e+06,6.005289e+07,562074.5080,167975.2380,2.901605e+07,2.463630e+06,7.397688e+07,2.871589e+07,1604430.710,1.239050e+08,1.228227e+07,5.575383e+07,7.982709e+07,4.846502e+07,3994629.140
4,2018,6.407394e+05,3.849598e+07,2.649459e+06,6.292939e+07,514494.2276,183668.7981,2.058881e+07,3.718199e+06,7.418898e+07,3.098084e+07,1626983.225,1.296320e+08,1.174250e+07,6.006648e+07,7.612456e+07,5.319210e+07,3371318.793
5,2017,8.415690e+05,2.655092e+07,2.673615e+06,6.255572e+07,480426.0000,184668.0000,2.267706e+07,3.052432e+06,6.185074e+07,2.091190e+07,1293887.000,1.318970e+08,9.715713e+06,6.604767e+07,8.409733e+07,5.556589e+07,3133515.000

In [44]:
data2_2017_2022['전국'] = data2_2017_2022.sum(axis=1)
data2_2017_2022

,연도,서울,부산,대구,인천,광주,대전,울산,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주,전국
0,2022,4.336754e+06,4.657933e+07,2.468916e+06,5.428345e+07,769032.9470,295032.6910,3.364133e+07,3.278703e+06,8.578016e+07,3.387653e+07,2763199.957,1.078128e+08,1.499092e+07,5.938354e+07,8.984390e+07,4.948159e+07,4815152.918,5.944024e+08
1,2021,5.343889e+06,4.035395e+07,2.811757e+06,6.050626e+07,644018.3820,182180.3610,3.150358e+07,3.776644e+06,8.223265e+07,3.062279e+07,2204815.677,1.112285e+08,1.432243e+07,6.184102e+07,8.138167e+07,4.388539e+07,3967926.374,5.768115e+08
2,2020,5.122176e+06,4.064738e+07,2.568644e+06,5.713563e+07,609551.0000,167834.0000,2.980867e+07,3.552567e+06,7.251266e+07,2.787505e+07,2221149.000,1.141039e+08,1.259953e+07,5.821711e+07,8.586558e+07,3.533287e+07,3821827.000,5.521642e+08
3,2019,1.846891e+06,3.752790e+07,2.877896e+06,6.005289e+07,562074.5080,167975.2380,2.901605e+07,2.463630e+06,7.397688e+07,2.871589e+07,1604430.710,1.239050e+08,1.228227e+07,5.575383e+07,7.982709e+07,4.846502e+07,3994629.140,5.630423e+08
4,2018,6.407394e+05,3.849598e+07,2.649459e+06,6.292939e+07,514494.2276,183668.7981,2.058881e+07,3.718199e+06,7.418898e+07,3.098084e+07,1626983.225,1.296320e+08,1.174250e+07,6.006648e+07,7.612456e+07,5.319210e+07,3371318.793,5.706485e+08
5,2017,8.415690e+05,2.655092e+07,2.673615e+06,6.255572e+07,480426.0000,184668.0000,2.267706e+07,3.052432e+06,6.185074e+07,2.091190e+07,1293887.000,1.318970e+08,9.715713e+06,6.604767e+07,8.409733e+07,5.556589e+07,3133515.000,5.535321e+08

In [45]:
data2_2017_2022_column_통일 = data2_2017_2022.rename(columns={"강원" : "강원도", "경기":"경기도", "경남":"경상남도", "경북":"경상북도", "광주":"광주광역시", "대구": "대구광역시", "전남":"전라남도", "전북":"전라북도", "제주": "제주특별자치도", "충남": "충청남도", "충북": "충청북도", "대전":"대전광역시", "부산" : "부산광역시", "서울":"서울특별시", "세종":"세종특별자치시", "울산":"울산광역시", "인천" : "인천광역시"})

In [46]:
data2_2017_2022_column_통일 = data2_2017_2022_column_통일.sort_values("연도").set_index("연도").sort_index(axis=1)
data2_2017_2022_column_통일.to_csv("data/발전량_지역별_컬럼_통일.csv")

In [47]:
used_2017_2022 = pd.read_csv('data/사용량_지역별.csv')
used_2017_2022_column_통일 = used_2017_2022.rename(columns={"전체(시도)": "전국"}).set_index("연도").sort_index(axis=1)
used_2017_2022_column_통일.to_csv("data/사용량_지역별_컬럼_통일.csv")

In [40]:
produced_used_2017_2022 = data2_2017_2022_column_통일 - used_2017_2022_column_통일

,강원도,경기도,경상남도,경상북도,광주광역시,대구광역시,대전광역시,부산광역시,서울특별시,세종특별자치시,울산광역시,인천광역시,전국,전라남도,전라북도,제주특별자치도,충청남도,충청북도
연도,,,,,,,,,,,,,,,,,,
2017,-2.515221e+10,-1.826463e+11,-5.734171e+10,-8.022063e+10,-1.283757e+10,-2.328204e+10,-1.402250e+10,-3.131082e+10,-6.345387e+10,-4.742982e+09,-5.857649e+10,-3.960313e+10,-4.155577e+11,-6.025114e+10,-3.813449e+10,-7.998161e+09,-9.027303e+10,-4.166359e+10
2018,-2.553067e+10,-1.974790e+11,-5.796523e+10,-8.114910e+10,-1.287509e+10,-2.360786e+10,-1.433503e+10,-3.148865e+10,-6.529874e+10,-4.937951e+09,-6.342147e+10,-3.989066e+10,-4.319899e+11,-6.130608e+10,-3.844483e+10,-8.461874e+09,-9.349868e+10,-4.469988e+10
2019,-2.486978e+10,-1.984349e+11,-5.681818e+10,-7.818266e+10,-1.258147e+10,-2.297691e+10,-1.400140e+10,-3.082552e+10,-6.462105e+10,-5.137692e+09,-6.422595e+10,-3.873935e+10,-4.279388e+11,-5.797063e+10,-3.729178e+10,-8.637235e+09,-9.507073e+10,-4.589376e+10
2020,-2.431301e+10,-2.006067e+11,-5.572769e+10,-7.142658e+10,-1.224448e+10,-2.170782e+10,-1.392796e+10,-2.990846e+10,-6.118320e+10,-5.381083e+09,-6.220495e+10,-3.728681e+10,-4.148869e+11,-5.502432e+10,-3.375084e+10,-8.523051e+09,-9.078098e+10,-4.617027e+10
2021,-2.536681e+10,-2.181263e+11,-5.927070e+10,-7.813072e+10,-1.309315e+10,-2.304744e+10,-1.464708e+10,-3.096068e+10,-6.336881e+10,-7.103691e+09,-6.338569e+10,-3.958516e+10,-4.389999e+11,-6.015602e+10,-3.577267e+10,-9.057217e+09,-8.827262e+10,-4.906478e+10
2022,-2.644326e+10,-2.315799e+11,-6.000677e+10,-7.869468e+10,-1.330720e+10,-2.389400e+10,-1.513788e+10,-3.167610e+10,-6.627780e+10,-4.803142e+09,-6.199819e+10,-4.054179e+10,-4.522684e+11,-6.247033e+10,-3.645112e+10,-9.692489e+09,-9.091560e+10,-5.101329e+10

In [41]:
produced_used_2017_2022.to_csv("data/발전량_사용량_차이_지역별.csv")
x = pd.read_csv("data/발전량_사용량_차이_지역별.csv")
x

,연도,강원도,경기도,경상남도,경상북도,광주광역시,대구광역시,대전광역시,부산광역시,서울특별시,세종특별자치시,울산광역시,인천광역시,전국,전라남도,전라북도,제주특별자치도,충청남도,충청북도
0,2017,-2.515221e+10,-1.826463e+11,-5.734171e+10,-8.022063e+10,-1.283757e+10,-2.328204e+10,-1.402250e+10,-3.131082e+10,-6.345387e+10,-4.742982e+09,-5.857649e+10,-3.960313e+10,-4.155577e+11,-6.025114e+10,-3.813449e+10,-7.998161e+09,-9.027303e+10,-4.166359e+10
1,2018,-2.553067e+10,-1.974790e+11,-5.796523e+10,-8.114910e+10,-1.287509e+10,-2.360786e+10,-1.433503e+10,-3.148865e+10,-6.529874e+10,-4.937951e+09,-6.342147e+10,-3.989066e+10,-4.319899e+11,-6.130608e+10,-3.844483e+10,-8.461874e+09,-9.349868e+10,-4.469988e+10
2,2019,-2.486978e+10,-1.984349e+11,-5.681818e+10,-7.818266e+10,-1.258147e+10,-2.297691e+10,-1.400140e+10,-3.082552e+10,-6.462105e+10,-5.137692e+09,-6.422595e+10,-3.873935e+10,-4.279388e+11,-5.797063e+10,-3.729178e+10,-8.637235e+09,-9.507073e+10,-4.589376e+10
3,2020,-2.431301e+10,-2.006067e+11,-5.572769e+10,-7.142658e+10,-1.224448e+10,-2.170782e+10,-1.392796e+10,-2.990846e+10,-6.118320e+10,-5.381083e+09,-6.220495e+10,-3.728681e+10,-4.148869e+11,-5.502432e+10,-3.375084e+10,-8.523051e+09,-9.078098e+10,-4.617027e+10
4,2021,-2.536681e+10,-2.181263e+11,-5.927070e+10,-7.813072e+10,-1.309315e+10,-2.304744e+10,-1.464708e+10,-3.096068e+10,-6.336881e+10,-7.103691e+09,-6.338569e+10,-3.958516e+10,-4.389999e+11,-6.015602e+10,-3.577267e+10,-9.057217e+09,-8.827262e+10,-4.906478e+10
5,2022,-2.644326e+10,-2.315799e+11,-6.000677e+10,-7.869468e+10,-1.330720e+10,-2.389400e+10,-1.513788e+10,-3.167610e+10,-6.627780e+10,-4.803142e+09,-6.199819e+10,-4.054179e+10,-4.522684e+11,-6.247033e+10,-3.645112e+10,-9.692489e+09,-9.091560e+10,-5.101329e+10

In [94]:
pd.set_option('display.float_format', '{:.2f}'.format) # 항상 float 형식으로
produced_final = pd.read_csv('최종 data/발전량18_22_최종.csv', encoding='cp949', header=None).T
def E_to_e(num):
    return num.replace("E", 'e')
produced_final = produced_final.apply(E_to_e)
produced_final

          0            1            2            3            4            5
0        연도         2018         2019         2020         2021         2022
1     서울특별시  640739406.5   1846891377   5122176383   5343889297   4336753909
2     부산광역시   3.8496E+10  3.75279E+10  4.06474E+10  4.03539E+10  4.65793E+10
3     대구광역시   2649458583   2877895502   2568644277   2811756812   2468915663
4     인천광역시  6.29294E+10  6.00529E+10  5.71356E+10  6.05063E+10  5.42835E+10
5     광주광역시  514494227.6    562074508  609551031.8  644018382.1  769032947.2
6     대전광역시  183668798.1  167975237.6  167834042.1  182180361.1  295032691.2
7     울산광역시  2.05888E+10   2.9016E+10  2.98087E+10  3.15036E+10  3.36413E+10
8   세종특별자치시   3718198534   2463629976   3552567196   3776643917   3278702829
9       경기도   7.4189E+10  7.39769E+10  7.25127E+10  8.22327E+10  8.57802E+10
10      강원도  3.09808E+10  2.87159E+10   2.7875E+10  3.06228E+10  3.38765E+10
11     충청북도   1626983225   1604430710   2221149360   2204815677   2763199957
12     충청남도  1.29632E+11  1.23905E+11  1.14104E+11  1.11229E+11  1.07813E+11
13     전라북도  1.17425E+10  1.22823E+10  1.25995E+10  1.43224E+10  1.49909E+10
14     전라남도  6.00665E+10  5.57538E+10  5.82171E+10   6.1841E+10  5.93835E+10
15     경상북도  7.61246E+10  7.98271E+10  8.58656E+10  8.13817E+10  8.98439E+10
16     경상남도  5.31921E+10   4.8465E+10  3.53329E+10  4.38854E+10  4.94816E+10
17  제주특별자치도   3371318793   3994629140   3821827153   3967926374   4815152918
18   전체(시도)  5.70647E+11   5.6304E+11  5.52162E+11  5.76809E+11    5.944E+11

In [95]:
produced_final.iloc[0][0] = '지역'
produced_final

C:\Users\user\AppData\Local\Temp\ipykernel_8668\3162002795.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  produced_final.iloc[0][0] = '지역'

          0            1            2            3            4            5
0        지역         2018         2019         2020         2021         2022
1     서울특별시  640739406.5   1846891377   5122176383   5343889297   4336753909
2     부산광역시   3.8496E+10  3.75279E+10  4.06474E+10  4.03539E+10  4.65793E+10
3     대구광역시   2649458583   2877895502   2568644277   2811756812   2468915663
4     인천광역시  6.29294E+10  6.00529E+10  5.71356E+10  6.05063E+10  5.42835E+10
5     광주광역시  514494227.6    562074508  609551031.8  644018382.1  769032947.2
6     대전광역시  183668798.1  167975237.6  167834042.1  182180361.1  295032691.2
7     울산광역시  2.05888E+10   2.9016E+10  2.98087E+10  3.15036E+10  3.36413E+10
8   세종특별자치시   3718198534   2463629976   3552567196   3776643917   3278702829
9       경기도   7.4189E+10  7.39769E+10  7.25127E+10  8.22327E+10  8.57802E+10
10      강원도  3.09808E+10  2.87159E+10   2.7875E+10  3.06228E+10  3.38765E+10
11     충청북도   1626983225   1604430710   2221149360   2204815677   2763199957
12     충청남도  1.29632E+11  1.23905E+11  1.14104E+11  1.11229E+11  1.07813E+11
13     전라북도  1.17425E+10  1.22823E+10  1.25995E+10  1.43224E+10  1.49909E+10
14     전라남도  6.00665E+10  5.57538E+10  5.82171E+10   6.1841E+10  5.93835E+10
15     경상북도  7.61246E+10  7.98271E+10  8.58656E+10  8.13817E+10  8.98439E+10
16     경상남도  5.31921E+10   4.8465E+10  3.53329E+10  4.38854E+10  4.94816E+10
17  제주특별자치도   3371318793   3994629140   3821827153   3967926374   4815152918
18   전체(시도)  5.70647E+11   5.6304E+11  5.52162E+11  5.76809E+11    5.944E+11

In [96]:
new_columns = produced_final.iloc[0]
produced_final = produced_final[1:]
produced_final.columns = new_columns
produced_final

0        지역         2018         2019         2020         2021         2022
1     서울특별시  640739406.5   1846891377   5122176383   5343889297   4336753909
2     부산광역시   3.8496E+10  3.75279E+10  4.06474E+10  4.03539E+10  4.65793E+10
3     대구광역시   2649458583   2877895502   2568644277   2811756812   2468915663
4     인천광역시  6.29294E+10  6.00529E+10  5.71356E+10  6.05063E+10  5.42835E+10
5     광주광역시  514494227.6    562074508  609551031.8  644018382.1  769032947.2
6     대전광역시  183668798.1  167975237.6  167834042.1  182180361.1  295032691.2
7     울산광역시  2.05888E+10   2.9016E+10  2.98087E+10  3.15036E+10  3.36413E+10
8   세종특별자치시   3718198534   2463629976   3552567196   3776643917   3278702829
9       경기도   7.4189E+10  7.39769E+10  7.25127E+10  8.22327E+10  8.57802E+10
10      강원도  3.09808E+10  2.87159E+10   2.7875E+10  3.06228E+10  3.38765E+10
11     충청북도   1626983225   1604430710   2221149360   2204815677   2763199957
12     충청남도  1.29632E+11  1.23905E+11  1.14104E+11  1.11229E+11  1.07813E+11
13     전라북도  1.17425E+10  1.22823E+10  1.25995E+10  1.43224E+10  1.49909E+10
14     전라남도  6.00665E+10  5.57538E+10  5.82171E+10   6.1841E+10  5.93835E+10
15     경상북도  7.61246E+10  7.98271E+10  8.58656E+10  8.13817E+10  8.98439E+10
16     경상남도  5.31921E+10   4.8465E+10  3.53329E+10  4.38854E+10  4.94816E+10
17  제주특별자치도   3371318793   3994629140   3821827153   3967926374   4815152918
18   전체(시도)  5.70647E+11   5.6304E+11  5.52162E+11  5.76809E+11    5.944E+11

In [101]:
produced_final.to_csv('최종 data/발전량_18_22_최종_헤더지정.csv', index = False)
x = pd.read_csv('최종 data/발전량_18_22_최종_헤더지정.csv')
x

,지역,2018,2019,2020,2021,2022
0,서울특별시,640739406.50,1846891377.00,5122176383.00,5343889297.00,4336753909.00
1,부산광역시,38496000000.00,37527900000.00,40647400000.00,40353900000.00,46579300000.00
2,대구광역시,2649458583.00,2877895502.00,2568644277.00,2811756812.00,2468915663.00
3,인천광역시,62929400000.00,60052900000.00,57135600000.00,60506300000.00,54283500000.00
4,광주광역시,514494227.60,562074508.00,609551031.80,644018382.10,769032947.20
5,대전광역시,183668798.10,167975237.60,167834042.10,182180361.10,295032691.20
6,울산광역시,20588800000.00,29016000000.00,29808700000.00,31503600000.00,33641300000.00
7,세종특별자치시,3718198534.00,2463629976.00,3552567196.00,3776643917.00,3278702829.00
8,경기도,74189000000.00,73976900000.00,72512700000.00,82232700000.00,85780200000.00
9,강원도,30980800000.00,28715900000.00,27875000000.00,30622800000.00,33876500000.00
10,충청북도,1626983225.00,1604430710.00,2221149360.00,2204815677.00,2763199957.00
11,충청남도,129632000000.00,123905000000.00,114104000000.00,111229000000.00,107813000000.00
12,전라북도,11742500000.00,12282300000.00,12599500000.00,14322400000.00,14990900000.00
13,전라남도,60066500000.00,55753800000.00,58217100000.00,61841000000.00,59383500000.00
14,경상북도,76124600000.00,79827100000.00,85865600000.00,81381700000.00,89843900000.00
15,경상남도,53192100000.00,48465000000.00,35332900000.00,43885400000.00,49481600000.00
16,제주특별자치도,3371318793.00,3994629140.00,3821827153.00,3967926374.00,4815152918.00
17,전체(시도),570647000000.00,563040000000.00,552162000000.00,576809000000.00,594400000000.00

In [102]:
x =  x.set_index("지역")
x

,2018,2019,2020,2021,2022
지역,,,,,
서울특별시,640739406.50,1846891377.00,5122176383.00,5343889297.00,4336753909.00
부산광역시,38496000000.00,37527900000.00,40647400000.00,40353900000.00,46579300000.00
대구광역시,2649458583.00,2877895502.00,2568644277.00,2811756812.00,2468915663.00
인천광역시,62929400000.00,60052900000.00,57135600000.00,60506300000.00,54283500000.00
광주광역시,514494227.60,562074508.00,609551031.80,644018382.10,769032947.20
대전광역시,183668798.10,167975237.60,167834042.10,182180361.10,295032691.20
울산광역시,20588800000.00,29016000000.00,29808700000.00,31503600000.00,33641300000.00
세종특별자치시,3718198534.00,2463629976.00,3552567196.00,3776643917.00,3278702829.00
경기도,74189000000.00,73976900000.00,72512700000.00,82232700000.00,85780200000.00
강원도,30980800000.00,28715900000.00,27875000000.00,30622800000.00,33876500000.00
충청북도,1626983225.00,1604430710.00,2221149360.00,2204815677.00,2763199957.00
충청남도,129632000000.00,123905000000.00,114104000000.00,111229000000.00,107813000000.00
전라북도,11742500000.00,12282300000.00,12599500000.00,14322400000.00,14990900000.00
전라남도,60066500000.00,55753800000.00,58217100000.00,61841000000.00,59383500000.00
경상북도,76124600000.00,79827100000.00,85865600000.00,81381700000.00,89843900000.00
경상남도,53192100000.00,48465000000.00,35332900000.00,43885400000.00,49481600000.00
제주특별자치도,3371318793.00,3994629140.00,3821827153.00,3967926374.00,4815152918.00
전체(시도),570647000000.00,563040000000.00,552162000000.00,576809000000.00,594400000000.00

In [103]:
x['2018_2022'] = x.sum(axis=1)

In [105]:
x.to_csv('최종 data/발전량_18_22_최종_헤더지정_총계표시.csv')